.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  margin: 92px 48px 0;
  padding: 0;
  font-size: 0;
  gap: 16px;
  list-style: none;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    margin: 64px 16px 0;
    gap: 12px;
  }
}