.gallery {
  margin: 92px 48px 0;
  display: grid;
  min-width: 1184px;
  min-height: 671px;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-template-rows: repeat(3, minmax(213px, 1fr));
}