.article__text {
  grid-area: text;
 width: 100%;
  min-width: 288px;
  
  
}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
  .article__text {
    margin: 0 16px 0;
    min-width: 288px;
  }


}