.article__link {
  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 2s linear;
}

.article__link:hover {
  opacity: 0.8;
}